<div class="container pt-4">
    <h2 class="text-center">PROVEEDORES</h2>
    <hr class=" ">
    <table class=" table mt-4 bor">
        <tbody>
            <tr>
                <th class="text-center"> Numero De Documento
                </th>
                <th class="text-center">
                    Nombre
                </th>
                <th class="text-center">
                    Apellido
                </th>
                <th class="text-center">
                    Correo Electronico
                </th>
                <th class="text-center">
                    Dirección
                </th>

                <th class="text-center">
                    Vehiculos Disponiles
                </th>
                <th class="text-center">
                    Acciones
                </th>
            </tr>
            <tr *ngFor="let proveedor of proveedores ">
                <td class="text-center">{{proveedor.documento_pro}}</td>
                <td class="text-center">{{proveedor.name_pro}}</td>
                <td class="text-center">{{proveedor.apellido_pro}}</td>
                <td class="text-center">{{proveedor.email_pro}}</td>
                <td class="text-center">{{proveedor.direccion_pro}}</td>
                <td class="text-center">{{proveedor.vehiculos_pro}}</td>
                <td>
                    <div class="row align-items-start">
                        <div class="col align-self-center ">
                            <button type=" button " class="btn btn-outline-warning dd" (click)="Editar(proveedor) ">Editar</button>
                        </div>
                        <div class="col align-self-center">
                            <button type="button " class="btn btn-outline-danger dd" (click)="Eliminar(proveedor) ">Eliminar</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>