<section id="speaker" class="pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col text-uppercase text-center">
                <h2>Proveedor</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form>
                    <div class="form-group">
                        <input id="documento_pro" type="text" class="form-control " placeholder="Numero De Documento ">
                    </div>

                    <div class="row ">
                        <div class="col-4 mb-2 m-auto ">
                            <input type="text " class="form-control " placeholder="Nombre ">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-4 mb-2 m-auto ">
                            <input type="text " class="form-control " placeholder="Apellido ">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-4 mb-2 m-auto ">
                            <input type="text " class="form-control " placeholder="Correo Electronico ">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-4 mb-2 m-auto ">
                            <input type="text " class="form-control " placeholder=" Direccion ">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-4 mb-2 m-auto ">
                            <input type="text " class="form-control " placeholder="Vehiculos Disponibles ">
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-4 mt-4 m-auto d-grid ">
                            <button (click)="Guardar()" type="submit" class="btn btn-success ">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>